name: backend CI

on:
  push:
    paths:
      - "apps/backend/**"
      - ".github/workflows/ci-backend.yml"
  pull_request:
    paths:
      - "apps/backend/**"
      - ".github/workflows/ci-backend.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npx prisma generate
      - run: npm run build --if-present
      - run: npm test
